*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    color: white;
    text-align: center;
    background-color: #40e0d0;
    font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;        
  justify-content: center;  
  background-color: #40e0d0; 
  padding: 10px 0;          
}

.navbar ul{
   list-style-type: none; 
   display: flex;     
   gap: 20px; 
}

.param{
    color: red;
    font-size: 20px;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.main{
    padding-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

/* atas */

.container{
    font-size: 18px;
    text-align: center;
    list-style-type: none;
    margin-top: 40px;
}

.container a{
    text-decoration: none;
   
}

.container ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
    justify-content: center;

}

.gambar{
    transition: transform 0.3s ease, color 0.3s ease;
    margin-top: 40px;
    width: 100px;
    height: auto;
    gap: 20px;
    margin: 20px 30px;
}

.gambar:hover {
  transform: scale(1.2);
}

.container p {
    color: #0077B6;
    margin: auto;
    margin-top: 40px;
    font-size: 32px;
    font-family: Arial, sans-serif;
}

.container h4{
    margin: auto;
    max-width: 860px;
    font-size: 17px;
}

.table{ 
  width: 80%;
  margin: 50px auto;            
  background-color: white;     
  border: 2px solid black;    
  border-radius: 10px;         
  padding: 20px;                 
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

.table h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0077b6; 
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #050708;
  padding: 10px;
  text-align: center;
}

th {
  background-color: white;
  color: black;
}

tr:nth-child(even) {
  background-color: white;
}

.coklat{
    background-color: #0077b6;
}

.background h4{
    vertical-align: middle;
}

.footer {
  background-color: #00ced1; /* biru laut */
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer .social-links {
  margin-top: 10px;
}

.footer .social-links a {
  color: white;
  margin: 0 10px;
  font-size: 28px;
  transition: color 0.3s ease;
}

.footer .social-links a:hover {
  color: #40e0d0; 
}


